.logo {
	font-size: 30px;
    background-color: #420559;
	text-decoration-color: white;
    color: white;
}

.purple { 
    background-color: purple;
    color: white;
    font-size: 10px;
}

.focus-box {
	border: solid;
	border-color: purple;
}

li, p { 
	font-size: 20px;
}

.bold-item {
	font-weight: bold;
}

.contact-us-block {
    text-align: center;   
}

.underline {
	text-decoration: underline;
	text-decoration-color: purple;
}

img { 
	height: auto;
	width: 100%;
}