img {
	display: block;
	max-width: 100%;
	height: auto;
}

p {
	font-size: 1.5rem;
}

.smaller-p { 
	font-size: 1.35rem;
}

.modal-p {
	font-size: 1.1rem;
}

.itemDescription {
	font-size: 1.1rem;
}

.logo {
	font-size: 2rem;
	background-color: #602040;
	text-decoration-color: white;
	color: white;
}

.purple { 
	background-color: #993366;
	color: white;
	font-size: 2.3rem;
	opacity: .95;
}

.headerImage {
	background-image: url("./imgs/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.focus-box {
	background-color: #f9ecf2;
}

.contact-us-block {
	text-align: center;   
}

.modal-mobile {
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
}

.modal-divider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.modal-divider > span {
    position: relative;
    display: inline-block;
}

.modal-divider > span:before,
.modal-divider > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #dee2e6;
}

.modal-divider > span:before {
    right: 100%;
    margin-right: 15px;
}

.modal-divider > span:after {
    left: 100%;
    margin-left: 15px;
}

